* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
.container {
  width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
}
.visually-hidden,
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
.main-header__menu,
.reasons,
.reason-1__city-features,
.reasons__simple {
  list-style: none;
}
.main-header__nav {
  text-align: center;
}
.main-header__menu-item {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.main-header__menu-item:hover,
.main-header__menu-item:focus {
  color: #81b3d2;
}
.main-header__menu-item:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-header__menu .current {
  color: #766357;
}
.main-header__menu-item {
  display: inline-block;
  line-height: 56px;
  vertical-align: middle;
}
.main-header__menu li {
  width: 220px;
  text-align: left;
}
.main-header__menu li:nth-of-type(3n),
.main-header__menu li:nth-of-type(4n) {
  text-align: right;
}
.city {
  display: flex;
  justify-content: center;
  padding-top: 76px;
  padding-bottom: 81px;
  background-image:
    url('../img/intro-mask.svg'),
    url('../img/background-photo.jpg');
  background-repeat: no-repeat;
  background-position:
    left bottom -3px,
    left top -84px;
  background-size:
    contain,
    100% 800px;
  color: #333333;
}
.about-city {
  text-align: center;
}
.about-city__description {
  background-color: #ffffff;
}
.about-city__title {
  font-size: 21px;
  font-weight: bold;
}
.find-hotel {
  font-size: 14px;
  color: #333333;
  text-align: center;
}
.find-hotel__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}
.find-hotel__button {
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: #ffffff;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  border: none;
}
.find-hotel {
  position: relative;
}
.search {
  width: 568px;
  height: 385px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  padding: 55px;
  position: absolute;
  top: 174px;
  left: 50%;
  transform: translateX(-50%);
}
.search-form {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}
.search-form p {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.search-form input[type="text"] {
  width: 346px;
  padding: 6px;
  background-color: #f2f2f2;
}
.search-form input {
  background-color: #f2f2f2;
}
.search-form input[type="text"]::placeholder,
.search-form input {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  border: none;
}
.search-form__date {
  position: relative;
}
.search-form__date--calendar {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 22px;
  background-image: url("../img/calendar.png");
  background-repeat: no-repeat;
  background-size: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search-form__date--calendar:active,
.search-form__date--calendar:focus,
.search-form input[type="text"]:active + .search-form__date--calendar,
.search-form input[type="text"]:focus + .search-form__date--calendar {
  background-image: url("../img/calendar-active.png");
}
.search-form__date--calendar:hover,
.search-form input[type="text"]:hover + .search-form__date--calendar {
  background-image: url("../img/calendar-hover.png");
}
.guest-amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.guest-amount input {
  width: 115px;
  padding: 6px;
  margin-left: 40px;
}
.guest-amount__children input {
  margin-left: 23px;
}
.search-form label {
  display: inline-block;
  line-height: 38px;
  vertical-align: middle;
}
.search-form__button {
  width: 458px;
  height: 58px;
  color: #ffffff;
  font-size: 21px;
  line-height: 58px;
  vertical-align: middle;
  background-color: #81b3d2;
  border: none;
}
.search-form input:focus {
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
}
.search-form input:hover {
  background-color: #ebebeb;
}
.search-form__button:hover {
  background-color: #669ec0;
}
.search-form__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.find-hotel__button:hover,
.find-hotel__button:focus {
  background-color: #766357;
}
.find-hotel__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.contacts {
  font-size: 21px;
  line-height: 26px;
}
.footer__contacts {
  margin-right: 160px;
}
.social-link {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-position: center center;
  background-repeat: no-repeat;
}
.social-link__twitter {
  background-image: url('../img/twitter.svg');
}
.social-link__fb {
  background-image: url('../img/fb-icon.svg');
}
.social-link__youtube {
  background-image: url('../img/youtube.svg');
}
.social-link:hover,
.social-link:focus {
  background-color: #669ec0;
}
.social-link:active {
  opacity: 0.3;
}
.developed__logo {
  display: inline-block;
  width:115px;
  height: 41px;
  background-image: url('../img/logo-htmlacademy.png');
  background-position: center center;
  background-repeat: no-repeat;
}
.developed__logo:hover,
.developed__logo:focus {
  background-image: url('../img/logo-htmla-hover.png');
}
.developed__logo:active {
  opacity: 0.3;
}
.hotel__info {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #333333;
  flex-grow: 1;
  margin-left: 30px;
  margin-top: -5px;
}
.hotel__type {
  display: flex;
  margin-bottom: 15px;
  margin-top: 5px;
  justify-content: flex-start;
}
.hotel__type p {
  min-width: 113px;
}
.hotel__type-of-action {
  display: flex;
}
.hotel__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.hotel__title:hover,
.hotel__title:focus {
  color: #81b3d2;
}
.hotel__title:active {
  color: rgba(0, 0, 0, 0.3);
}
.hotel__raiting-mark {
  font-size: 14px;
  line-height: 27px;
  width: 110px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  align-self: flex-end;
}
.hotel__raiting-star {
  background-image: url('../img/star.svg');
  background-repeat: repeat-x;
  height: 17px;
  align-self: flex-end;
}
.hotel__raiting-star--good {
  width: 36px;
}
.hotel__raiting-star--fine {
  width: 53px;
}
.hotel__raiting-star--best {
  width: 71px;
}
.hotel__raiting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 37px;
  font-size: 14px;
  color: #666666;
}
.hotel__learn-more-button {
  display: inline-block;
  width: 110px;
  line-height: 27px;
  vertical-align: middle;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-right: 6px;
}
.hotel__learn-more-button:hover,
.hotel__learn-more-button:focus {
  background-color: #669ec0;
}
.hotel__learn-more-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.hotel__booking-button {
  width: 142px;
  height: 27px;
  background-color: #766357;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}
.hotel__booking-button:hover,
.hotel__booking-button:focus {
  background-color: #604e43;
}
.hotel__booking-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.hotel-list {
  margin-bottom: 36px;
}
.reasons {
  font-size: 14px;
  text-align: center;
  color: #000000;
}
.reasons__title,
.city-features__title {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.reasons__reason-1,
.reasons__reason-2 {
  background-color: #81b3d2;
}
.reasons__reason-1 .reasons__title,
.reasons__reason-2 .reasons__title,
.reasons__reason-1 .reasons__description,
.reasons__reason-2 .reasons__description {
  color: #ffffff;
}
.reason-1__city-features {
  background-color: #ffffff;
}
.filter {
  background-image: url('../img/filter-background.jpg');
  background-position: -3px -450px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 14px;
  color: #ffffff;
}
.filter__title {
  font-size: 16px;
  font-weight: bold;
}
.filter__button {
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  width: 133px;
  height: 32px;
  border: 2px solif #ffffff;
  color: #ffffff;
}
.filter__form {
  padding: 31px 0;
  display: flex;
  justify-content: space-between;
}
.filter__block-2 {
  width: 320px;
}
.sort__result {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  border: none;
}
.sort-title {
  font-size: 12px;
  color: #000000;
}
.sort-name {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
  font-size: 12px;
}
.sort-name--active {
  color: #81b3d2;
  border: none;
}
.sort-name:hover,
.sort-name:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}
.sort-name:active {
  color: #000000;
  border: none;
}
.main-header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.about-city {
  display: flex;
  flex-direction: column;
  padding-top: 61px;
  padding-bottom: 56px;
  padding-left: 180px;
  padding-right: 180px;
}
.about-city__title {
  margin-bottom: 20px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-right: auto;
}
.hotel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 1, 1, 0.2);
  padding-top: 30px;
  padding-bottom: 30px;
}
.hotel-list {
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}
.reasons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reasons__reason-1,
.reasons__reason-2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
}
.reasons__simple {
  display: flex;
  justify-content: space-between;
}
.reason-1__city-features {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.filer__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.sort {
  display: flex;
}
.reasons__description-block {
  margin: auto 60px;
  flex-grow: 1;
}
.reasons__title {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 20px;
}
.reasons__number {
  padding-top: 20px;
  padding-left: 2px;
  padding-right: 2px;
}
.reasons__number::before,
.reasons__number::after {
  content: "";
    display: inline-block;
    background-color: #ffffff;
    width: 10px;
    height: 1px;
    line-height: 1px;
    vertical-align: middle;
    margin: 0 5px;
}
.city-features {
  margin: 60px 50px;
}
.reason-1__city-features .city-features__title {
  padding-bottom: 31px;
}
