* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px;

  -webkit-box-shadow:
    0px 35px 0 0 #ffffff,
    0px 20px 15px 0 rgba(0, 1, 1, 0.2);

          box-shadow:
    0px 35px 0 0 #ffffff,
    0px 20px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}
.visually-hidden,
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
.main-header__menu,
.reasons,
.reason-1__city-features,
.reasons__simple {
  list-style: none;
}
.main-header__menu-item {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.main-header__menu-item:hover,
.main-header__menu-item:focus {
  color: #81b3d2;
}
.main-header__menu-item:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-header__menu .current {
  color: #766357;
}
.main-header__menu li {
  display: inline-block;
  width: 239px;

  line-height: 56px;
  text-align: left;
  vertical-align: middle;
}
.main-header__menu li:nth-of-type(3n),
.main-header__menu li:nth-of-type(4n) {
  text-align: right;
}
.main-header__menu li:nth-of-type(3) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.main-header__menu li:nth-of-type(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 76px;
  padding-bottom: 81px;

  color: #333333;

  background-image:
    url('../img/intro-mask.svg'),
    url('../img/background-photo.jpg');
  background-color: #b8d2e4;
  background-repeat: no-repeat;
  background-position:
    left bottom -3px,
    left top -84px;
  background-size:
    contain,
    100% 800px;
}
.about-city {
  text-align: center;
}
.about-city__description {
  background-color: #ffffff;
}
.about-city__title {
  font-size: 21px;
  font-weight: bold;
}
.find-hotel {
  font-size: 14px;
  text-align: center;
  color: #333333;
}
.find-hotel__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 21px;
}
.find-hotel__description {
  margin-bottom: 45px;
}
.find-hotel__button {
  width: 568px;
  height: 86px;

  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #766357;
  border: none;

  cursor: pointer;
}
.find-hotel {
  position: relative;
  padding-top: 50px;
}
.search {
  position: absolute;
  left: 50%;
  z-index: 1;

  width: 568px;
  height: 394px;
  padding: 55px;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

  -webkit-transform: translateX(-50%);

          transform: translateX(-50%);
}
.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.search-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search-form input[type="text"] {
  width: 346px;
  padding: 12px 14px;

  background-color: #f2f2f2;
}
.search-form input {
  background-color: #f2f2f2;
}
.search-form input[type="text"]::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  border: solid 2px transparent;
}
.search-form input[type="text"]::-moz-placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  border: solid 2px transparent;
}
.search-form input[type="text"]:-ms-input-placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  border: solid 2px transparent;
}
.search-form input[type="text"]::-ms-input-placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  border: solid 2px transparent;
}
.search-form input[type="text"]::placeholder,
.search-form input {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  border: solid 2px transparent;
}
.search-form__date {
  position: relative;
  margin-bottom: 28px;
}
.search-form__date label {
  min-width: 115px;
}
.search-form__date--calendar {
  position: absolute;
  top: 9px;
  right: 7px;

  display: block;
  width: 21px;
  height: 22px;

  background-image: url("../img/calendar.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: transparent;
  border: none;

  cursor: pointer;
}
.search-form__date--calendar:active,
.search-form__date--calendar:focus,
.search-form input[type="text"]:active + .search-form__date--calendar,
.search-form input[type="text"]:focus + .search-form__date--calendar {
  background-image: url("../img/calendar-active.png");
}
.search-form__date--calendar:hover,
.search-form input[type="text"]:hover + .search-form__date--calendar {
  background-image: url("../img/calendar-hover.png");
}
.guest-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 54px;
}
.guest-amount input[type="text"] {
  width: 38px;
  padding: 6px;
}
.guest-amount__children .minus {
  margin-left: 27px;
}
.guest-amount input[type="text"]::-webkit-input-placeholder {
  display: inline-block;

  line-height: 38px;
  text-align: center;
  vertical-align: middle;
}
.guest-amount input[type="text"]::-moz-placeholder {
  display: inline-block;

  line-height: 38px;
  text-align: center;
  vertical-align: middle;
}
.guest-amount input[type="text"]:-ms-input-placeholder {
  display: inline-block;

  text-align: center;
  vertical-align: middle;
}
.guest-amount input[type="text"]::-ms-input-placeholder {
  display: inline-block;

  line-height: 38px;
  text-align: center;
  vertical-align: middle;
}
.guest-amount input[type="text"]::placeholder {
  display: inline-block;

  line-height: 38px;
  text-align: center;
  vertical-align: middle;
}
.button-amount {
  display: inline-block;
  width: 38px;
  height: 38px;

  line-height: 27px;
  vertical-align: middle;

  background-color: #f2f2f2;
  border: none;

  cursor: pointer;
}
.minus {
  margin-left: 40px;
}
.amount {
  position: relative;
}
.minus::before {
  position: absolute;
  left: 127px;
  top: 18px;

  content: "";
  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
  border: none;

  cursor: pointer;
}
.plus::after {
  position: absolute;
  left: 202px;
  top: 5px;

  content: "+";
  font-size: 25px;
  font-weight: bold;
  color: #a9a9a9;

  border: none;

  cursor: pointer;
}
.guest-amount__children .minus::before {
  left: 80px;
}
.guest-amount__children .plus::after {
  left: 155px;
}
.minus:hover::before,
.minus:focus::before {
  background-color: #000000;
}
.plus:hover::after,
.plus:focus::after {
  color: #000000;
}
.minus:active::before {
  background-color: #81b3d2;
}
.plus:active::after {
  color: #81b3d2;
}
.search-form label {
  display: inline-block;

  line-height: 38px;
  vertical-align: middle;
}
.search-form__button {
  width: 458px;
  height: 58px;

  font-size: 21px;
  line-height: 58px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  vertical-align: middle;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;

  cursor: pointer;
}
.search-form input:focus {
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
}
.search-form input:hover {
  background-color: #ebebeb;
}
.search-form__button:hover,
.search-form__button:focus {
  background-color: #669ec0;
}
.search-form__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.find-hotel__button:hover,
.find-hotel__button:focus {
  background-color: #604e43;
}
.find-hotel__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-49%);
            transform: translateX(-49%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-51%);
            transform: translateX(-51%);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-49%);
            transform: translateX(-49%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-51%);
            transform: translateX(-51%);
  }
}
.search-form-close {
  display: none;
}
.search-form-error {
  border: 1px solid #ff0000;
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
.search-form-open {
  display: block;
}
.contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.contacts a {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.contacts a:hover,
.contacts a:focus {
  color: #81b3d2;
}
.contacts a:active {
  color: rgba(0, 0, 0, 0.3);
}
.footer__contacts {
  margin-right: 169px;
}
.social-link {
  display: inline-block;
  width: 46px;
  height: 48px;

  line-height: 48px;
  vertical-align: middle;

  background-color: #81b3d2;
  background-position: center center;
  background-repeat: no-repeat;
}
.social-link__twitter {
  background-image: url('../img/twitter.svg');
}
.social-link__fb {
  background-image: url('../img/fb-icon.svg');
}
.social-link__youtube {
  background-image: url('../img/youtube.svg');
}
.social-link:hover,
.social-link:focus {
  background-color: #669ec0;
}
.social-link:active {
  opacity: 0.3;
}
.developed__logo {
  display: inline-block;
  width: 115px;
  height: 48px;

  vertical-align: middle;

  background-image: url('../img/logo-htmlacademy.png');
  background-position: center 4px;
  background-repeat: no-repeat;
}
.developed__logo:hover,
.developed__logo:focus {
  background-image: url('../img/logo-htmla-hover.png');
}
.developed__logo:active {
  opacity: 0.3;
}
.hotel__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 30px;

  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #333333;
}
.hotel__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hotel__type p {
  min-width: 116px;
}
.hotel__type-of-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.hotel__title {
  display: inline-block;
  margin-bottom: 10px;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  vertical-align: middle;
  color: #000000;

  cursor: pointer;
}
.hotel__title:hover,
.hotel__title:focus {
  color: #81b3d2;
}
.hotel__title:active {
  color: rgba(0, 0, 0, 0.3);
}
.hotel__raiting-mark {
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 110px;

  font-size: 14px;
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
  color: #666666;

  background-color: #f2f2f2;
}
.hotel__raiting-star {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 17px;

  background-image: url('../img/star.svg');
  background-repeat: repeat-x;
}
.hotel__raiting-star--good {
  width: 36px;
}
.hotel__raiting-star--fine {
  width: 53px;
}
.hotel__raiting-star--best {
  width: 71px;
}
.hotel__raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  font-size: 14px;
  color: #666666;
}
.hotel__learn-more-button {
  display: inline-block;
  width: 110px;
  margin-right: 6px;

  font-size: 14px;
  line-height: 27px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #81b3d2;
}
.hotel__learn-more-button:hover,
.hotel__learn-more-button:focus {
  background-color: #669ec0;
}
.hotel__learn-more-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
.hotel__booking-button {
  width: 142px;
  height: 27px;

  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #766357;
  border: none;

  cursor: pointer;
}
.hotel__booking-button:hover,
.hotel__booking-button:focus {
  background-color: #604e43;
}
.hotel__booking-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.reasons {
  font-size: 14px;
  text-align: center;
  color: #000000;
}
.reasons__title,
.city-features__title {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
.reasons__reason-1,
.reasons__reason-2 {
  background-color: #81b3d2;
}
.reasons__reason-1 .reasons__title,
.reasons__reason-2 .reasons__title,
.reasons__reason-1 .reasons__description,
.reasons__reason-2 .reasons__description {
  color: #ffffff;
}
.reason-1__city-features {
  background-color: #ffffff;
}
.filter {
  font-size: 14px;
  color: #ffffff;

  background-image: url('../img/filter-background.jpg');
  background-color: #7a6d6b;
  background-position: 0 -300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.filter__title {
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: bold;
}
.filter__button {
  width: 136px;
  height: 35px;
  margin-left: 90px;

  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;

  cursor: pointer;
}
.filter__button:hover,
.filter__button:focus {
  color: #000000;

  background-color: #ffffff;
}
.filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 31px 72px;

  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.filter__block-2 {
  width: 320px;
  margin-left: auto;
}
.filter__block-2 .filter__title {
  margin-bottom: 10px;
}
.sort__result {
  font-size: 21px;
  font-weight: bold;
  color: #000000;

  border: none;
}
.sort-title {
  font-size: 12px;
  color: #000000;
}
.sort-name {
  font-size: 12px;
  color: #cacaca;

  border-bottom: 1px dotted #81b3d2;
}
.sort-name--active {
  color: #81b3d2;

  border: none;
}
.sort-name:hover,
.sort-name:focus {
  color: #81b3d2;

  border-bottom: 1px dotted #81b3d2;
}
.sort-name:active {
  color: #000000;

  border: none;
}
.main-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 72px;
}
.main-header__logo {
  position: absolute;
  left: 50%;
  top: 0;

  -webkit-transform: translateX(-50%);

          transform: translateX(-50%);
}
.about-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 61px;
  padding-bottom: 56px;
}
.about-city__title {
  margin-bottom: 27px;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 36px;
  padding-right: 101px;
  padding-bottom: 36px;
  padding-left: 132px;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  margin-right: auto;
}
.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 72px;

  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}
.hotel-list {
  border-top: 1px solid rgba(0, 1, 1, 0.2);
}
.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reasons__reason-1,
.reasons__reason-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}
.reasons__simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;

  background-color: #eeeeee;
}
.reason-1__city-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 73px;
}
.filer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reasons__description-block {
  max-width: 280px;
  margin: 0 auto;
  padding-top: 45px;
}
.reason-image {
  width: 800px;
  height: 256px;
}
.reason-1__image {
  background-image: url(../img/feature-picture-1.jpg);
  background-repeat: no-repeat;
  background-position: 0px -78px;
}
.reason-2__image {
  background-image: url(../img/feature-picture-2.jpg);
  background-repeat: no-repeat;
  background-position: 0px -78px;
}
.reasons__reason-2 .reasons__description-block {
  max-width: 303px;
  padding-top: 49px;
}
.reasons__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.reasons__number {
  padding: 12px 0;
}
.reasons__number::before,
.reasons__number::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 1px;
  margin: 0 5px;

  line-height: 1px;
  vertical-align: middle;

  background-color: #ffffff;
}
.city-features {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 400px;
  padding-top: 101px;
}
.city-features p {
  max-width: 285px;
  margin-left: 72px;
}
.reason-1__city-features .city-features__title {
  margin-bottom: 18px;
}
.city-features__title--house::before {
  position: absolute;
  top: 0px;
  left: 177px;

  content: "";
  display: block;
  width: 75px;
  height: 75px;

  background-image: url('../img/icon-1.svg');
  background-repeat: no-repeat;
}
.city-features__title--food::before {
  position: absolute;
  top: 0px;
  left: 175px;

  content: "";
  display: block;
  width: 74px;
  height: 70px;

  background-image: url('../img/icon-3.svg');
  background-repeat: no-repeat;
}
.city-features__title--gifts::before {
  position: absolute;
  top: 0px;
  left: 180px;

  content: "";
  display: block;
  width: 64px;
  height: 76px;

  background-image: url('../img/icon-2.svg');
  background-repeat: no-repeat;
}
 .simple {
   max-width: 250px;
   margin: 0 auto;
   padding-top: 50px;
   padding-bottom: 63px;

   text-align: center;
 }
.reasons__number,
.reasons__description {
  font-size: 14px;
}
.simple .reasons__number::before,
.simple .reasons__number::after {
  background-color: #333333;
}
.developed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.developed p {
  display: inline-block;
  margin-right: 7px;

  line-height: 52px;
  vertical-align: middle;
}
.contacts__tag {
  padding-bottom: 6px;
}
.map {
  width: 100%;
  height: 472px;

  background-image: url('../img/map.jpg');
}
input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 16px;

  line-height: 23px;
  vertical-align: middle;

  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
}
input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:focus + label::before {
  background-image: url('../img/checkbox-off.svg');
}
input[type="checkbox"]:checked + label::before {
  background-image: url('../img/checkbox-on.svg');
}
input[type="checkbox"]:checked:hover + label::before {
  background-image: url('../img/checkbox-on.svg');
}
input[type="checkbox"]:disabled + label::before {
  opacity: 0.3;
}
.filter__features-group {
  margin-right: 120px;
  padding: 0;

  border: none;
}
.filter__features-group p {
  margin-bottom: 20px;
}
.filter__features-group p:last-child {
  margin-bottom: 0px;
}
.filter__price {
  position: relative;

  margin-bottom: 20px;
  padding: 0;

  border: none;
}
.price {
  width: 157px;
  height: 34px;
  margin-bottom: 7px;

  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}
.price--min {
  padding-left: 65px;

  border-right: none;
}
.price--max {
  padding-left: 60px;

  border-left: none;
}

.price::-webkit-input-placeholder {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}

.price::-moz-placeholder {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}

.price:-ms-input-placeholder {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}

.price::-ms-input-placeholder {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}

.price::placeholder {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}
.filter__price-per-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.filter__price .filter__title::after {
  position: absolute;
  top: 42px;
  left: 168px;

  content: "";
  width: 2px;
  height: 22px;

  background-color: #ffffff;
}
.toggle {
  display: inline-block;
  width: 22px;
  height: 22px;

  line-height: 22px;
  vertical-align: middle;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;

  cursor: pointer;
}
.toggle-left::after {
  content: "";
  display: inline-block;
  width: 260px;
  height: 2px;

  line-height: 22px;
  vertical-align: middle;

  background-color: #ffffff;
  opacity: 1;
}
.toggle-right::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;

  line-height: 22px;
  vertical-align: middle;

  background-color: #ffffff;
  opacity: 0.3;
}
.toggle-right {
  margin-left: 228px;
}
.toggle:hover {
  background-size: 22px 24px;
}
.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 31px 72px;
}
.sort__result {
  margin-right: 48px;
}
.sort-title {
  margin-right: 43px;
}
.sort .sort-name {
  display: inline-block;

  height: 21px;
  margin-right: 32px;

  line-height: 21px;
  vertical-align: middle;
}
.search__sort-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.search__sort-type--up {
  width: 11px;
  height: 10px;
  margin-right: 13px;

  background-image: url("../img/icon-up-dir.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}
.search__sort-type--up:hover,
.search__sort-type--up:focus {
  background-image: url("../img/icon-up-dir.png");
  opacity: 1;
}
.search__sort-type--up:active {
  background-image: url("../img/icon-up-dir-active.png");
}
.search__sort-type--down {
  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}
.search__sort-type--down:hover,
.search__sort-type--down:focus {
  background-image: url("../img/icon-down-dir.png");
  opacity: 1;
}
.search__sort-type--down:active {
  background-image: url("../img/icon-down-dir-active.png");
}
.search__sort-type--active {
  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir-active.png");
  opacity: 1;
}
